#employerBlurb 
	p 
		|Hey Capcom, 
		<br/>
		<br/>
		&nbsp;&nbsp;&nbsp; Let me explain why I would be a great fit at your company. Ready? Here we go.
		<br/><br/>
		|To date, I've survived over three zombie apocalypses. I've coded in the following places: a zombie-infested mall, the inside of a volcano, and my basement.
		|One of those statements is true. My current weapons of choice are Javascript and Ruby on Rails, which I've used to make two 
		|complete web applications, but in the past I've used C++ (learned at school), Java (helped make an Android app), Katanas(sliced off zombie heads) and 
		|Chainsaws(sliced off heads faster. Gas isn't cheap though)
		<br/><br/>
		|I absolutely love video games. I play Team Fortress 2 religiously, I've beaten Dead Rising 1 and 2, and I've been destroyed on numerous occasions in Dota 2.
		|In my spare time I've also made some simple mods for games I love. I created a LUA-based gamemode for the Half-Life 2 mod "Garry"'s Mod", hooked up my
		|Kinect so I could play TF2 with my body, made a couple maps for Source engine games using the Hammer level editor, and created a couple machinima movies
		|with Sony Vegas and Adobe After Effects. 
		<br/><br/>
		|You asked for me to indicate my areas of interest. The whole list of areas in the job description sounds amazing, but if I had to choose a few I like the most, 
		|they would probably be Audio, Gameplay, and UI.
		|At my last job I helped design a lot of the UI components of our apps, so I can bring that experience to a UI position at Capcom. I don't have much relevent
		|experience with the audio or gameplay sides, but I would be extremely excited and enthusiastic to learn.
		<br/></br>
		|In fact, I'm an incredibly quick learner. At my last job I had to learn every technology I used on the job, including Javascript, Ruby, PHP, and Java. In a
		|very short timespan, I was at a level where I could develop applications with these languages with almost no help. I can write and debug code extremely quickly,
		|and my supervisor told me in my employment review that I was the most prolific member of the development team, which included a full-time professional developer.
		<br/><br/>
		|I hope I've properly conveyed my experience and enthusiasm for this job. If given the opportunity, I know I would succeed in this position. For further info, 
		|check out some of my relevant projects below.
		<br/><br/>
		|Thanks for considering me,and remember that zombies only die when their heads are removed.
		<br/>
		|Adam Wootton
		<br/><br/><br/>
#employerTag
	img(src="/images/capcom.jpg")
	<br/>
	|Application for: Capcom
<br/>
#imageGrid
	.imageContainer#nova
		img(src='/images/nova.jpg')
		.infoTip
			|Backbone.js iPad app
	.imageContainer#money
		img(src='/images/moneymatters.jpg')
		.infoTip
			|Ruby on Rails Web App
	.imageContainer#website
		img(src='/images/website.png')
		.infoTip
			|Node.js/Jade/Stylus Website
	.imageContainer#falconry
		img(src='/images/falconry.jpg')
		.infoTip
			|Node.js/Jade Website
	.imageContainer#playbox
		img(src='/images/playbox.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#tower
		img(src='/images/tower.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#shapes
		img(src='/images/shapes.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#office
		img(src='/images/officehours.jpg')
		.infoTip
			|Android Java / PHP App
	.imageContainer#compression
		img(src='/images/compression.jpg')
		.infoTip
			|Python data parsing
	
	