#employerBlurb 
	p 
		|Hi Pebble, 
		<br/>
		<br/>
		&nbsp;&nbsp;&nbsp; I'd like to explain why I would love to work for you guys. One of my biggest career interests is working on new ways for people to interact with computers
		|and data. I really enjoy reading news articles and watching videos about innovations in this field such as Google Project Glass, Microsoft Kinect and of course, Pebble.
		|When I first saw your smartwatch on Kickstarter, I couldn't stop imagining ways it, and things like it, could be used to fundamentally change computing. I believe
		|working at your company would be an amazing opportunity, and hope I have the necessary experience to be considered. I've worked on several web-based projects
		|using Ruby on Rails, jQuery,
		|HTML5/CSS3, and several Javascript libraries. Below, please find several related projects/classes with additional info organized for your convenience.
		<br/>
		<br/>
		|Thanks for considering me,
		<br/>
		|Adam 
#employerTag
	img(src="/images/pebble.jpg")
	<br/>
	|Application for: Pebble
<br/>
#imageGrid
	.imageContainer#nova
		img(src='/images/nova.jpg')
		.infoTip
			|Backbone.js iPad app
	.imageContainer#money
		img(src='/images/moneymatters.jpg')
		.infoTip
			|Ruby on Rails Web App
	.imageContainer#website
		img(src='/images/website.png')
		.infoTip
			|Node.js/Jade/Stylus Website
	.imageContainer#falconry
		img(src='/images/falconry.jpg')
		.infoTip
			|Node.js/Jade Website
	.imageContainer#cplus
		img(src='/images/cplus.png')
		.infoTip
			|C++ Class/Labs
	.imageContainer#office
		img(src='/images/officehours.jpg')
		.infoTip
			|Android Java / PHP App
	.imageContainer#playbox
		img(src='/images/playbox.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#tower
		img(src='/images/tower.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#shapes
		img(src='/images/shapes.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#compression
		img(src='/images/compression.jpg')
		.infoTip
			|Python data parsing
	.imageContainer#data
		img(src='/images/data.jpg')
		.infoTip
			|Data Structures/Algorithms