#imageGrid
	.imageContainer#website
		img(src='/images/website.png')
		.infoTip
			|Node.js/Jade/Stylus Website
	.imageContainer#playbox
		img(src='/images/playbox.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#tower
		img(src='/images/tower.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#shapes
		img(src='/images/shapes.png')
		.infoTip
			|Actionscript Playbook App
	.imageContainer#firefighter
		img(src='http://placekitten.com/300/200')
		.infoTip
			|Autonomous Robot 
	.imageContainer#sumo
		img(src='/images/sumo.jpg') 
		.infoTip
			|Autonomous Robot
	.imageContainer
		img(src='http://placekitten.com/300/200') 
		.infoTip
			|Future Project
	.imageContainer
		img(src='http://placekitten.com/300/200') 
		.infoTip
			|Future Project