#imageGrid
	.imageContainer
		img(src='http://placekitten.com/300/200')
	.imageContainer
			img(src='http://placekitten.com/300/200')
	.imageContainer
		img(src='http://placekitten.com/300/200')
	.imageContainer
		img(src='http://placekitten.com/300/200')
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 