block sidebar
	#sidebar
		a(href="#")#work Work Projects <br/>
		a(href="#")#jobs Past Jobs <br/>
		a(href="#")#side Hobby/School<br/>
		a(href="#")#life Life <br />
		a(href="#")#contact Contact <br />
		a(href="#")#resume Resume <br />
		a(href="http://github.com/ajwootto")#git Github 
script 
	var imageAjax = function (img) {
		$.ajax({
				url: '/info',
				type: 'POST',
				data: {name: $(img).parent().attr('id')},
				success: function(a,b) {
					$("#zoomContainer").html(a);
					$("#zoomContainer").addClass("animation");
				}
			})
	}
	var doZoom = function(that) {
		$(that).addClass('active');
		$('.imageContainer').each(function () {
			if ($(this).attr('id') == $(that).parent().attr('id'))
				$(this).addClass('active');
		});
		$("#clickoff").addClass('clickActive');
		$("#zoomContainer").addClass('visible');
		imageAjax(that);
	}
	var dontZoom = function() {
		$("#imageGrid").find("img").each(function() {
			$(this).removeClass('active');
		})
		$('.imageContainer').each(function () {
			$(this).removeClass('active');
		});
		$("#zoomContainer").removeClass('visible');
		$("#zoomContainer").removeClass("animation");
		$("#clickoff").removeClass('clickActive');
	}
	var bindImages = function() {
		$("img").not(".disabled").each(function() {
			var that = this
			$(this).bind('click', function() {
				$("#clickoff").css("width", $(document).width());
				$("#clickoff").css("height", $(document).height());
				if ($(that).hasClass('active')) {
					dontZoom()
				}
				else {
					doZoom(that)
				}
			})
		})
	};
	$('#sidebar').find("a").not("#git").each(function() {
		$(this).bind('click', function(e) {
			var that = e.target
			e.preventDefault();
			if ($(this).attr('id') == "resume") {
				window.location.href = 'resume.html'
			} else {
				$.ajax({
					url: '/nav',
					type: 'POST',
					data: {link: $(this).attr('id')},
					success: function(a,b) {
						$('#sidebar').find("a").each(function() {
							$(this).removeClass("active");
						});
						$(that).addClass("active");
						$("#content").html(a);
						bindImages();
					}
				})
			}
			
		})
	});
	if ("#{employer}" == " ")
		$("#work").trigger('click');
	
	