#imageGrid
	.imageContainer#nova
		img(src='/images/nova.jpg')
	.imageContainer#money
		img(src='/images/moneymatters.jpg')
	.imageContainer#office
		img(src='/images/officehours.jpg')
	.imageContainer#compression
		img(src='/images/compression.jpg')
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 