#imageGrid
	.imageContainer
		img(src='/images/nova.jpg')
	.imageContainer
			img(src='/images/moneymatters.jpg')
	.imageContainer
		img(src='/images/compression.jpg')
	.imageContainer
		img(src='http://placekitten.com/300/200')
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 
	.imageContainer
		img(src='http://placekitten.com/300/200') 