#imageGrid
	.imageContainer#nova
		img(src='/images/nova.jpg')
		.infoTip
			|Backbone.js iPad app
	.imageContainer#money
		img(src='/images/moneymatters.jpg')
		.infoTip
			|Ruby on Rails Web App
	.imageContainer#office
		img(src='/images/officehours.jpg')
		.infoTip
			|Android Java / PHP App
	.imageContainer#compression
		img(src='/images/compression.jpg')
		.infoTip
			|Python data parsing
	.imageContainer#macros
		img(src='/images/macros.jpg') 
		.infoTip
			|Excel VBA Macros
	.imageContainer#falconry
		img(src='/images/falconry.jpg')
		.infoTip
			|Node.js/Jade Website
