$red = #D42626
$dark-red = #9F3D3D
$darker-red = #8A0C0C
$light-red = #Ea5a5a
$lighter-red = #ea8080
$orange = #d47526
$dark-orange = #8A450C
$darker-orange = #8a450c
$light-orange = #ea9b5a
$lighter-orange = #eab080
$blue = #177f7f
$dark-blue = #255f5f
$darker-blue = #075353
$light-blue = #49bfbf
$lighter-blue = #69bfbf
$green = #1eaa1e
$dark-green = #317f31
$darker-green = #0a6e0a
$light-green = #52d452
$lighter-green = #74d474
