@import 'nib';

global-reset();
a
  text-decoration: none
  color: black

@import 'index.styl';

@font-face
  font-family Segoe
  font-style normal
  src url(../fonts/segoeui.ttf)
body
  width: 100%
  background-image:url(/images/grey.png)

html *
  font-family Segoe
h1
  font-size: 4em
  whitespace: nowrap

#namehelper
  position: absolute
  top:4em
  left:24.5em
  font-size: 0.8em

#nameheader
  margin: 4em


#title-subtext
  margin: 0.5em 0 0 2em
  opacity: 0.7

@import 'sidebar.styl'


#content
  width: 80%
  min-height: 50%
  position: absolute
  top: 12em
  left: 11em

#imageGrid img
  position:absolute
  top:0
  bottom: 0
  left: 0
  right: 0
  width:300px
  height:200px


#imageGrid img:hover
  width:310px
  height:210px
  top: -5px
  left: -5px

.imageContainer
  width:310px
  height:210px
  position:relative
  display: inline-block

.imageContainer .infoTip
  absolute bottom left
  bottom: 10px
  padding: 0 10px
  color: white
  background-color: rgba(0,0,0,0.6)
  line-height: 2em


.clickActive
  display:block !important

#clickoff
  background-color: black
  opacity:0.9
  z-index: 499  
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none

ul
  list-style: circle !important;

@import 'zoom.styl'
