#zoomHeader 
	|AMD
#zoomContent
	h2 
		|Systems Engineer, Markham, Ontario, 2012
	<br/>
	ul
		li Learned Python scripting through self-teaching, and created scripts to extract and process text files of data
		li Designed further Python scripts to compress and decompress data sent over the PCI Express interface using LZW and Run-Length Encoding algorithms 
		li Programmed VBA macros to automate various spreadsheet merging tasks in Excel, taking into account the usability needs of the intended users
		li Used logic and protocol analyzers to gather data from the PCI-E interface; done in a lab setting in accordance with proper procedures, and repeated using multiple configurations
		li Summarized and presented data to managers, with the aim of conveying the concepts in an easily understandable format 
		li Developed conclusions based on data which were used for product design decisions
		li Learned the details of the PCI Express interface, such as the interactions between the root complex, CPU, memory and endpoints, and the different types of data packets (TLPs, DLLPs etc.)

