#zoomHeader 
	|Communitech 
#zoomContent
	h2 
		|App Developer, Waterloo, Ontario, 2012
	<br/>
	ul
		li Self-learned Javscript/HTML/CSS, Ruby on Rails, PHP, mySQL, and Android Java to create three mobile applications
		li Solely developed the front-end of a web-based iPad app with almost no outside supervision using Backbone.js as a Model/View structure, demonstrating personal initiative, time management and independence 
		li Co-developed a thin client mobile web app using Ruby on Rails, working on all aspects such as user interface and database communication/schema
		li Adapted a PHP application codebase to serve as a back-end for a native Android app, working on both the front-end and back-end development and designing the user interface
		li Employed basic unit testing in Rails to ensure calculations made by application was correct
		li Utilized MVC methodology and proper CRUD
		li Using Git to manage the codebase, worked closely with co-developers to coordinate the development of various parts of the apps, , greatly increasing experience with teamwork and communication
		li Closely followed client specifications and wireframe designs, becoming proficient in the process of turning ideas into code
		li Received offer to continue working on the iPad app as a freelance developer after the co-op term ended
