#zoomHeader 
	|Data Compression 
#zoomContent
	h2 
		|AMD, Markham, Ontario, 2012
	<br/>
	h2
		|Researched a method for compressing data sent over the PCI-Express interface (Video Card to Motherboard)
	<br/>
	ul
		li Using a logic analyzer, captured data sent over the PCI-Express link and exported it to a text file.
		li Wrote Python scripts to parse the captured data and simulate compression which would take place if the algorithms were implemented in hardware
		li Evaluated various compression algorithms such as run-length encoding and LZW, as well as various self-developed tweaks to these algorithms
		li Measured the % compression achieved with each script to determine the optimal method
		li Compiled a presentation that included all the measured data and compression percentages as well as recommendations for which algorithm to use, which were presented to senior engineers at AMD