#zoomHeader 
	|C++ Class/Labs
#zoomContent
	h2 
		|University of Waterloo, 2011
	<br/>
	h2
		|Learned the fundamentals of C++ through lectures and labs
	<br/>
	ul
		li Gained understanding of most basic principles of C++ such as class inheritance, public vs. private, operator overloading, pointers and memory allocation, different variable 
			|types and their uses.
		li Received an overall mark of 95%, and nearly 100% on the lab component.