#zoomHeader 
	|Data Structures/
	<br/>
	|Algorithms
#zoomContent
	h2 
		|University of Waterloo, 2013
	<br/>
	h2
		|A course intended to teach how to design efficient algorithms, measure their speed, and utilize data structures effectively
	<br/>
	ul
		li Learned speed estimation methods such as Big Oh notation.
		li Course is still on-going, there will be more bullet points later.