#zoomHeader 
	|Football Website
#zoomContent
	h2 
		|Calgary Falcons Football Program, 2013
	<br/>
	h2
		|Assisted in the creation of a website for the Calgary Falcons, built from the ground-up and intended to replace their currently outdated and ugly site
	<br/>
	ul
		li Asked to assist in the development of the website on a freelance basis
		li Created using Node.js, MongoDB, Jade, Stylus, Nib
		li Assisted the lead developer in designing the interface, creating the node.js backend, and implementing MongoDB and email systems
