#zoomHeader 
	|Excel Macros
#zoomContent
	h2 
		|AMD, Markham, Ontario, 2012
	<br/>
	h2
		|Created Microsoft Excel macros using Visual Basic for Applications
	<br/>
	ul
		li Self-taught VBA in order to create several fairly complicated macros
		li Macros were created to merge multiple spreadsheets with different layouts in order to create one master spreadsheet with a unified layout
		li They are still being used by my manager at AMD in order to parse important automated testing results