#zoomHeader 
	|Money Manager
#zoomContent
	h2 
		|Communitech Apps Factory, Waterloo, Ontario, 2012
	<br/>
	h2
		|An application used to manage finances. Allows the user to input various expenses and revenues such as bills and paychecks and then calculates useful information 
		|such as available weekly funds and overdraw risk
	<br/>
	ul
		li This was a thin client application which used Ruby on Rails and PostgreSQL
		li The client interface was adapted from pre-made wireframe designs and translated by myself and a co-developer into HTML/CSS/Javascript
		li Unit testing was utilized to ensure that calculations were being completed correctly using test data
		li Co-designed database schema to properly employ Rails' model/collection structure according to conventions
