#zoomHeader 
	|Energy Star App
#zoomContent
	h2 
		|Communitech Apps Factory, Waterloo, Ontario, 2012
	<br/>
	h2
		|An application intended for use in large appliance retailers, which allows sales representatives to quickly look up and compare the energy usage of various 
		|appliances so customers can make environmentally informed purchasing decisions
	<br/>
	ul
		li Created front-end using Backbone.js for Model/Collection data structure and view routing
		li Used Underscore.js for the templating engine
		li App was created primarily for the iPad using Cordova (Phonegap) as a middleware
		li User interface design work was done by myself and a co-worker
		li All data was pulled with Ajax requests from a back-end server developed by a co-worker which used Node.js and MongoDB
	
