#zoomHeader 
	|Nova
#zoomContent
	h2 
		|An application intended for use in stores such as Future Shop and Best Buy, which allows sales representatives to quickly look up and compare the energy usage of various 
		|appliances so customers can make environmentally informed purchasing decisions
	<br/>
	ul
		li Front-end was created using Backbone.js for Model/Collection data structure and view routing
		li Underscore.js was used for the templating engine
		li App was created primarily for the iPad using Cordova (Phonegap) as a middleware
		li User interface design work was done by myself and a co-worker
		li All data was pulled with Ajax requests from a back-end server developed by a co-worker which used Node.js and MongoDB
	
