#zoomHeader 
	|Office Hours
#zoomContent
	h2 
		|Communitech Apps Factory, Waterloo, Ontario, 2012
	<br/>
	h2
		|An Android application developed for Communitech that allows employees to enter the hours they will be in the office, as well as check in and out for up-to-the-minute 
		|information of whether they are actually there. The office hours and current status of all employees is displayed on a TV in the main lobby that is connected to
		|a server with which the app communicates.
	<br/>
	ul
		li Developed back-end by adapting a PHP codebase for a different application. Exposed existing functionality with an API that could be used by the Android application.
		li Co-developed the front-end Java app for Android, specifically working on time calculations and user interface components
		li Ported application to BB10 using the Blackberry Android Runtime
