#zoomHeader 
	|Playbox
#zoomContent
	h2 
		|My House, Waterloo, Ontario, 2011
	<br/>
	h2
		|An application for the Blackberry Playbook which consists of a line moving across the screen playing piano notes which correspond to the buttons the user has selected
	<br/>
	ul
		li My first attempt at a mobile app (not indicative of my current ability)
		li Written using Adobe Actionscript in the AIR framework
		li Written for RIM's promotional contest in early 2011, where any developer accepted to the App World would receive a free Playbook