#zoomHeader 
	|Shape Factory
#zoomContent
	h2 
		|My House, Waterloo, Ontario, 2011
	<br/>
	h2
		|A sandbox sort-of-game for the Playbook where you can drag your finger to create boxes and circles which behave with realistic physics.
	<br/>
	ul
		li Written using Adobe Actionscript
		li Uses Box2D Flash for the physics engine
		li Made for the second free Playbook promotion last year at the same time as Tower to the Top, received a third free Playbook
		li Re-uses general-purposes classes originally written for Tower to the Top