#zoomHeader 
	|SumoBot
#zoomContent
	h2 
		|Sir John A MacDonald Highschool, Waterloo, Ontario, 2010
	<br/>
	h2
		|A robot designed to participate in "sumobot" challenges where two robots compete in a ring and try to push each other out
	<br/>
	ul
		li Designed the PCB in Traxmaker based on a given circuit diagram (needed to create the layout etc.)
		li Fabricated the board with UV light to burn in the tracks, drilled the component holes by hand and soldered all components
		li Debugged intensely for several weeks using multimeters to determine the sources of electrical problems
		li Designed and fabricated a wooden housing for the electronics
		li Used BASIC to program the PIC microchips
		li Utilized light and IR light sensors to detect the white line along the edge of the ring, and the other robot
	