#zoomHeader 
	|Personal Website
#zoomContent
	h2 
		|My House, Waterloo, Ontario, 2013
	<br/>
	h2
		|Created my personal website (this one) in the days prior to the first Jobmine postings. Used Node.js, Jade, Stylus, Nib
	<br/>
	ul
		li Created in about three days 
		li Uses Ajax for all content changes
		li Employs CSS3 transitions for all those nice slides
		
